@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9e6ca;
}
.font-card-extra-small {
  font-size: 10px !important;
}
.font-card-small {
  font-size: 14px !important;
}
